
*{
    margin: 0;
    padding: 0;
}
header{
      width: 100%;
      height: 70px;
      background-color: #fff;
      box-shadow: 0px 0px 12px #000;
      position: fixed;
      z-index: 1;
}
header button{
    width: 140px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    box-shadow: 0px 0px 8px whitesmoke;
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
}
header button:hover{
     color: darkmagenta;
     box-shadow: 0px 0px 15px silver;
     transition: 1s;
}
header img{
    width: 100px;
    float: left;
    margin-top: 5px;
    margin-left: 7px;
}
#imol{
    width: 100%;
    height: 650px;
    margin-top: 2px;
}
marquee{
    position: absolute;
    top: 150px;
    left: 415px;
    color: saddlebrown;
    text-align: center;
    font-size: 38px;
    width: 400px;
    height: 140px;
    font-family: 'Tajawal', sans-serif;
}
aside{
    width: 13%;
    height: 400px;
    background: white;
    float: right;
}
aside button{
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    background:none;
    border: none;
    border-bottom: 1px solid slateblue;
    border-left: 1px solid slateblue;
    outline: none;
}
aside button:hover{
     color: white;
     background:#ff4b5c;
     transition: 1s;
}
main{
    width: 87%;
    height: 400px;
    background:white;
    margin-top: -5px;
    float: left;
}
main h2{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Tajawal', sans-serif;
    margin-top: 20px;
}
main img{
    width: 90px;
    margin-top: 20px;
}
main p{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Tajawal', sans-serif;
    color: gray;
    margin-top: 30px;
}
#d1 div{
    width: 274px;
    height: 420px;
    border: 1px solid white;
    font-size: 18px; 
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    box-shadow:  1px 1px 12px gray;
    float: left;
    margin-left: 130px;
    margin-top: 60px;
    border-radius: 12px;
}
footer{
    width: 100%;
    height: 300px;
    background-color:#000;
    margin-top: 1000px;
    clear: both;
    box-shadow: 1px 1px 40px #000;
}
footer div{
     font-size: 22px;
     margin-top: 20px;
     font-family: 'Tajawal', sans-serif;
     font-weight: bold;
     text-align: left;
     margin-left: 85px;
     color: red;
     float: left;
}
footer div a{
    text-decoration: none;
    color: #fff;
}
footer div a:hover{
    color: deeppink;
}









